.tamanoimg{
    width: 100px; height:100px;
}

.letras{
    text-align: justify;
}

.cabeza{
    
    --background: linear-gradient(to right top, #00fff4, #00d1fd, #00a0ff, #0069ea, #381eb0);
}

.blanco{
    color: #ffff;
}

.atras{
    --background: linear-gradient(to right, #999999, #b2b2b2, #cbcbcb, #e5e5e5, #ffffff);
    
}