<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-back-button defaultHref="/" text="volver" type="ios" color="dark"></ion-back-button>

    </ion-buttons>


    <ion-title>secundario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h2>¿Quienes somos?</h2>
    <p>Somos una empresa que se implementa al servicio del cliente a un transporte con conductor para llevar al
      cliente al destino de donde quiera dirigirse. Este servicio es economico, estable ya que como empresa, queremos
      algo factible para el cliente para que llege bien a su destino. Esta aplicación se puede encontrar en Play Store y
      App Store.
    </p>
  </ion-item>
  <ion-item>
    <h2>Creadores de Fast And Happy</h2>
    <h2>Daniel Alexander Landero Abriga</h2>
    <br>
    <p>Es un analista programador,de Duoc Uc. Soltero, le gusta el karate, tiene capacidad de desarrollar e implementar
      en el lenguaje de programación.</p>
    <br>
    <h2>Nicolas Ignacio Prieto Herrera</h2>
    <br>
    <p>Es un analista programador, tambien de Duoc Uc. Soltero de por vida. Le gusta mucho los deportes como el voleibol
      y futbol, tiene una capacidad de implementar css y javascript en HTML, su fuente más fuerte. </p>
  </ion-item>

</ion-content>