.tamanoimg{
    width: 100px; height:100px;
}

.letras{
    text-align: justify;
}

.cabeza{
    
    --background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.blanco{
    color: #ffff;
}

.atras{
    --background: linear-gradient(to right, #999999, #b2b2b2, #cbcbcb, #e5e5e5, #ffffff);
    
}