

.letra-b{
    color: white;
}

.alinear-imagen{
    margin:0 auto;
   
}

.color-f
{
    
    --background: linear-gradient(to bottom, #dc0000, #a9001d, #720621, #3b0e1a, #000000);
    
}

ion-list{
    background-color: #232323;
}

.cabezera{
    
    //--background: linear-gradient(to right, #b10707, #cc493d, #e1776f, #f0a3a0, #f9cfcf);
    --background: linear-gradient(to right bottom, #ff0000, #f10202, #e40304, #d60505, #c90606, #bb1110, #ac1817, #9d1d1c, #882625, #722c2b, #5a2f2f, #413131)
}




