

.letra-b{
    color: white;
}

.alinear-imagen{
    margin:0 auto;
   
}

.color-f
{
    
   /*--background: linear-gradient(to bottom, #dc0000, #a9001d, #720621, #3b0e1a, #000000);
    */
    --background: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

ion-list{
    background-color: #232323;
}

.cabezera{
    
    //--background: linear-gradient(to right, #b10707, #cc493d, #e1776f, #f0a3a0, #f9cfcf);
    --background: linear-gradient(to right top, #00fff4, #00d1fd, #00a0ff, #0069ea, #381eb0);
}

.imagen2{
    width: 13rem;
    justify-content: center;
    
}



