<ion-header>
  <ion-toolbar class="cabeza">
    <ion-buttons slot="start">

      <ion-back-button defaultHref="/" text="volver" type="ios" class="blanco"></ion-back-button>

    </ion-buttons>


    <ion-title class="blanco">
  
        <ion-img src="/assets/icono2.png" class="imagen2"></ion-img>
      
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="atras">
  <br>
  <br>
  <br>
  <br>


  <ion-card>
  
    <ion-card-header>
      <ion-card-title>Datos</ion-card-title>
    </ion-card-header>

    <form  #formulario="ngForm" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-label>Numero De tarjeta de credito/debito </ion-label> <br>
        <ion-input type="number" name="Numerot" [(ngModel)]="usuario.Numerot" placeholder="1234-5678-1234-5678" required
          maxlength="19" minlength="16"></ion-input>




      </ion-item>
      <ion-item>
        <ion-label>codigo de seguridad</ion-label>
        <br>
        <ion-input type="number" name="code" [(ngModel)]="usuario.code" placeholder="123" required maxlength="3"
          minlength="3"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha Vencimiento</ion-label>
        <br>
        <ion-input type="number" name="date" [(ngModel)]="usuario.date" placeholder="10/03/2001" required maxlength="5"
          minlength="4"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nombre Completo</ion-label>
        <br>
        <ion-input type="text" name="name" [(ngModel)]="usuario.name" placeholder="nombre" required maxlength="50"
          minlength="4"></ion-input>
      </ion-item>

      <div class="centrar">
        <ion-button slot="end" [disabled]="formulario.invalid" type="submit" routerLink="/primario" (click)="alerta()">enviar
        </ion-button>
      </div>
    </form>
  </ion-card>

</ion-content>