.imagen2{
    width: 13rem;
    justify-content: center;
    
}

.cabeza{
    
    --background: linear-gradient(to right top, #00fff4, #00d1fd, #00a0ff, #0069ea, #381eb0);
}

.atras{
    --background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.centrar{
    align-content: center;
}

.titulo{
    color: #000;
}
