<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button defaultHref="/" text="regresar" mode="android"></ion-button>
    </ion-buttons>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #formulario="ngForm" (ngsubmit)="onsubmit()">
    <ion-list-header>
      <ion-label>Ingrese sus datos</ion-label>
      
    </ion-list-header>


    <ion-item>
      <ion-label>Nombre Usuario:</ion-label>
      <ion-input type="text" name="nombreU" [(ngModel)]="usuario.nombreU" placeholder="Akiles_voy" required></ion-input>
    
    </ion-item>

    <ion-item>
      <ion-label>Edad:</ion-label>
      <ion-input type="number" name="edad" placeholder="12"  [(ngModel)]="usuario.edad"
      required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Numero telefonico:</ion-label>
      <ion-input type="number" name="numeroT" placeholder="982345382" required  [(ngModel)]="usuario.telefono"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Correo Electronico:</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="usuario.email" placeholder="fulanito@gmail.com" 
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="usuario.password" placeholder="123321" required></ion-input>
    </ion-item>

    <br>
   
    <ion-button [disabled]="formulario.invalid" type="submit" routerLink="/primario">
        
      Click me
    </ion-button>
    


  </form>

</ion-content>
