<ion-header>
  <ion-toolbar class="cabeza">


    <ion-buttons slot="start">
      
      <ion-back-button defaultHref="/" text="volver" type="ios" color="dark"></ion-back-button>
      
    </ion-buttons>

    <ion-title >Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<!--esto es para hacer un formulario el cual onsubmit es cuando coloque en submit , el ngModel 
es para que tome la clase de terciario.page.ts, colocando primero el nombre de la clase 
y despues lo que se guardara-->

<ion-content class="ion-padding">

  <form #formulario="ngForm" (ngSubmit)="onSubmit()">
    <ion-list-header>
      <ion-label>Ingrese sus datos</ion-label>
      
    </ion-list-header>


    <ion-item>
      <ion-label position="floating">Nombre Usuario:</ion-label>
      <ion-input type="text" name="nombreU" [(ngModel)]="usuario.nombreU" placeholder="Akiles_voy" required  maxlength="20" minlength="5"></ion-input>
    
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad:</ion-label>
      <ion-input type="number" name="edad" placeholder="12"  [(ngModel)]="usuario.edad"
      required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Numero telefonico:</ion-label>
      <ion-input type="number" name="numeroT" placeholder="982345382" required  [(ngModel)]="usuario.telefono"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Correo Electronico:</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="usuario.email" placeholder="fulanito@gmail.com" 
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="usuario.password" placeholder="123321" maxlength="18" minlength="6" required ></ion-input>
    </ion-item>

    <br>
    
    <!--disbled es par que mientras esten vacios no se pueda mandar datos -->
    <ion-button slot="end" [disabled]="formulario.invalid" type="submit" routerLink="/primario" >
        
      Click me
    </ion-button>
    


  </form>

</ion-content>
